.modal-backgroud {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

.modal-main {
  position: fixed;
  z-index: 3;
  background-color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 85%;
  width: 70%;
  border: 10px;
}

.modal-close-btn {
  align-items: flex-end;
  padding: 10px;
}

.modal-content {
  padding: 10px;
}

.modal-tool {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 45px;
  height: 50%;
}

.modal-tool-icon {
  border-radius: 30px;
  height: 180px;
  width: 180px;
  padding: 10px;
}

.modal-tool-name {
  font-weight: 600;
  font-size: 60px;
  margin: 20px 0px;
}

.modal-tool-btn {
  border: none;
  border-radius: 10px;
  font-size: x-large;
  text-align: center;
  padding: 20px 35px;
  color: white;
}

.modal-last-tools {
  min-height: 30%;
}

.modal-last-tool-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-flow: row nowrap;
}

.modal-last-tool-title {
  margin-bottom: -5px;
  margin-left: 25px;
}